.config/github-copilot/apps.json
.config/raycast/extensions/node_modules
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/add-new-project.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/add-new-project.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/add-new-todo.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/add-new-todo.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/package.json
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/quick-add-todo.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/quick-add-todo.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-anytime-list.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-anytime-list.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-inbox-list.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-inbox-list.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-someday-list.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-someday-list.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-today-in-menu-bar.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-today-in-menu-bar.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-today-list.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-today-list.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-upcoming-list.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/show-upcoming-list.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/assets/things-flat.png
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/assets/things-icon.png
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/add-project.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/add-project.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/add-todo.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/add-todo.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/delete-todo.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/delete-todo.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/get-areas.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/get-areas.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/get-list-todos.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/get-list-todos.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/get-lists.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/get-lists.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/get-projects.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/get-projects.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/get-tags.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/get-tags.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/set-todo-property.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/set-todo-property.js.map
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/update-todo.js
.config/raycast/extensions/1e915fb4-4a40-4555-8fad-99319ca35f19/tools/update-todo.js.map
.config/nvim/.gitignore
.config/nvim/.neoconf.json
.config/nvim/init.lua
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/nvim/LICENSE
.config/nvim/README.md
.config/nvim/stylua.toml
.config/nvim/lua/config/autocmds.lua
.config/nvim/lua/config/keymaps.lua
.config/nvim/lua/config/lazy.lua
.config/nvim/lua/config/options.lua
.config/nvim/lua/plugins/example.lua
